.all-projects{
    width: 100%;
}
/* .all-projects ul{
    display: flex;
    overflow-x: auto;
    background-color: rgb(14, 14, 14);
    box-shadow: rgba(0, 0, 0, 0.844) 0px 14px 10px;
}
.all-projects ul li{
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: rgb(48, 48, 48);
    color: rgb(224, 224, 224);
    margin: 7px 4px;
    border-radius: 5px;
} */
.all-projects .all-project-list{
    padding: 1rem;
}