@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
  --primary-font-family: 'Noto Sans Mono', monospace;
  --secondary-font-family: 'JetBrains Mono', monospace;
}

::selection{
  background-color: transparent;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
