@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font-family);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
  --primary-font-family: 'Noto Sans Mono', monospace;
  --secondary-font-family: 'JetBrains Mono', monospace;
}

::selection{
  background-color: green;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
